.navbar {
  height: 30px;
  background-color: orange;
  display: flex;
  justify-content: center;
}

.link {
  color: white;
  height: 30px;
  display: inline-block;
  width: 100px;
}

.navbar a {
  text-decoration: none;
}

.link a:hover {
  color: green;
  background-color: white;
}

.link a.active {
  color: black;
}